<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<p>Product name: <span th:text="${product.name}"></span></p>
<p>Model: <span th:text="${product.model}"></span></p>
<p>Description: <span th:text="${product.description}"></span></p>
<p>Price: <span th:text="${product.price}"></span></p>
<p>Manufacturer: <span th:text="${product.manufacturer.name()}"></span></p>
<div th:if="${product.imageName}">
    <img th:src="@{/api/v1/products/{productId}/image(productId=${product.id})}" alt="Product image">
</div>
<br>
<a th:href="@{/orders/registration(productId=${product.id})}">Buy</a>
</body>
</html>
