<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product registration</title>
</head>
<body>
<form th:action="@{/products}" enctype="multipart/form-data" method="post">
    <label for="name">Product name:
        <input id="name" type="text" name="name" th:value="${product.name}">
    </label><br>
    <label for="model">Model:
        <input id="model" type="text" name="model" th:value="${product.model}">
    </label><br>
    <label for="description">Description:
        <input id="description" type="text" name="description" th:value="${product.description}">
    </label><br>
    <label for="price">Price:
        <input id="price" type="number" name="price" th:value="${product.price}">
    </label><br>
    <label for="amount">Amount:
        <input id="amount" type="number" name="amount" th:value="${product.amount}">
    </label><br>
    <div th:each="category: ${categories}">
        <input th:id="${category}" type="radio" name="category" th:value="${category}"
               th:checked="${category==product.category}">
        <label th:for="${category}" th:text="${category}">Category:</label>
    </div>
    <div>
        <label for="manufacturer">Manufacturer:
            <select id="manufacturer" name="manufacturerId">
                <option th:each="manufacturer:${manufacturers}"
                        th:selected="${manufacturer.id()==product.manufacturerId}"
                        th:value="${manufacturer.id()}"
                        th:text="${manufacturer.name()}">Manufacturer
                </option>
            </select>
        </label>
    </div><br>
    <label for="imageName">Image:
        <input id="imageName" type="file" name="image">
    </label><br>
    <button type="submit">Rigister</button>
</form>
<div th:if="${errors}">
    <p th:each="error:${errors}" th:text="${error.defaultMessage}" style="color: red">Error message</p>
</div>
</body>
</html>